    .pageBodyLeaderboard{
        background-color: #333646;
        height: calc(100vh - 3.5rem);
        max-height: calc(100vh - 3.5rem);
        width:100vw;
        max-width: 100vw;
        display:flex;
        flex-direction: column;
        gap:20px;
        overflow:hidden;
        color:white;
    }
    .leaderBoardWave{
        position: absolute;
        bottom: 0;
    }

    .mainBodyLeaderBoard{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        height:300px;
        width:300px;
    }

    .backDroppedBody{
        position:absolute;
        width:50%;
        height:60%;
        background-color:#ed654d;
        top:50%;
        left:50%;
        transform: translate(-60%,-60%);
        border-radius:5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       display:flex;
       gap:15px;
       justify-content: center;
       align-items: flex-start;
       padding-top:15px;
    }

    .frontDroppedBody{
        position:absolute;
        width:50%;
        height:60%;
        background-color:#313445;
        top:50%;
        left:50%;
        transform: translate(-40%,-40%);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-top:15px;
    }

    .leaderboardOptions{
        color:#313445;
        font-weight: 600;
    }
    .leaderboardOptions.active{
        color:white
    }

    .leaderboardRow{
        display: flex;
        padding:5px 15px;
        justify-content: space-between;
    }
    .leaderboardRow .Pic{
        width:25px;
        height:25px;
        border-radius: 100%;
        object-fit: cover;
    }